[submodule "communication-service"]
	path = communication-service
	url = https://github.com/huntrese/communication-service.git
[submodule "consumables-service"]
	path = consumables-service
	url = https://github.com/huntrese/consumables-service.git
[submodule "user-management-service"]
	path = user-management-service
	url = https://github.com/yaeby/user-management-service.git
[submodule "notification-service"]
	path = notification-service
	url = https://github.com/yaeby/notification-service.git
[submodule "budgeting-service"]
	path = budgeting-service
	url = https://github.com/VMM-MMV/budgeting-service.git
[submodule "lostnfound-service"]
	path = lostnfound-service
	url = https://github.com/VMM-MMV/lostnfound-service.git
[submodule "Check-in-Service"]
	path = Check-in-Service
	url = git@github.com:vl4d09/Check-in-Service.git
[submodule "Cab-Booking-Service"]
	path = Cab-Booking-Service
	url = git@github.com:vl4d09/Cab-Booking-Service.git
